<div class="page-headline">
    <div class="row">
        <div class="medium-6 columns">
            <h4>Messages</h4>
        </div>
    </div>
</div>
<div>
    <ul class="message-list">
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="small-1 columns">
                    <div class="message-block">
                        <i class="fa fa-envelope-o"></i>
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        Michael McDonalds
                    </div>
                </div>
                <div class="small-5 columns">
                    <div class="message-block">
                        Hey, how are u? I'm gonna...
                    </div>
                </div>
                <div class="small-3 columns">
                    <div class="message-block">
                        2014/10/13 10:30
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>