<div class="row login-module">
    <div class="small-11 large-6 medium-9 small-centered columns" style="padding:0px">
        <form id="login">
            <div class="row">
                <div class="large-12 columns">
                    <h4 class="logo"><i class="fa fa-paper-plane"></i> Interestin </h4>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="text" name="email" placeholder="Email">
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="password" name="password" placeholder="{{translate "label.password"}}">
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns text-center">
                    <input type="submit" class="button button-main expand" value="{{translate "button.login"}}">
                </div>
                <div class="large-12 columns text-center">
                    {{translate "label.new.to.interestin"}} <a href="#register" value="Register"> {{translate "label.sign.up.here"}}</a>
                </div>
            </div>
        </form>
        <div class="loader hide"></div>
    </div>
</div>