<header id="navigation">
</header>
<section class="container">
    <div class="row">
        <section class="messages"><div class="row"><div class="small-12 columns"></div></div></section>
    </div >
    <div class="row">
        <div class="large-2 columns" id="menu"></div>
        <div class="large-10 medium-12 columns" id="main-content"></div>
    </div>
</section>

