<button class="progress-button" data-style="rotate-side-down" data-perspective data-horizontal>
    <span class="progress-wrap">
        <span class="content">{{buttonText}}</span>
        <span class="progress" style="overflow: hidden ">
            <span class="progress-inner" style="width: 0; opacity: 1"></span>
        </span>
    </span>
</button>