<ul>
    <li><a href="#admin"><span class="icon-case"></span><span class="text">Companies</span></a></li>
    <li><a href="#admin-settings"><span class="icon-settings"></span><span class="text">Settings</span></a></li>
</ul>