<div class="row">
    <div class="medium-7 small-6 columns">
        <span class="bar-menu"><i class="fa fa-bars show-for-medium-only"></i></span>
        <a href="#dashboard"><h4 class="logo"><i class="fa fa-paper-plane"></i> Interestin </h4></a>
    </div>
    <div class="medium-5 small-6 columns text-right">
        <div class="info">
            <span class="user-name">John Doe</span>
            <i class="fa fa-cogs nav-icon" id="settings"></i>
            <i class="fa fa-info nav-icon" id="settings"></i>
            <a href="#logout"><i class="fa fa-sign-out nav-icon" id="settings"></i></a>
        </div>
    </div>
</div>
