@font-face {
    font-family: 'mindmarker-icon-font';
    src:url('fonts/mindmarker-icon-font.eot?jv98sh');
    src:url('fonts/mindmarker-icon-font.eot?#iefixjv98sh') format('embedded-opentype'),
        url('fonts/mindmarker-icon-font.woff?jv98sh') format('woff'),
        url('fonts/mindmarker-icon-font.ttf?jv98sh') format('truetype'),
        url('fonts/mindmarker-icon-font.svg?jv98sh#mindmarker-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon"], [class*=" icon"] {
    font-family: 'mindmarker-icon-font';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
    content: "\e600";
}
.icon-ok:before {
    content: "\e601";
}
.icon-warning:before {
    content: "\e602";
}
.icon-share:before {
    content: "\e603";
}
.icon-person:before {
    content: "\e604";
}
.icon-persons:before {
    content: "\e605";
}
.icon-logout:before {
    content: "\e606";
}
.icon-info:before {
    content: "\e607";
}
.icon-typography:before {
    content: "\e608";
}
.icon-back:before {
    content: "\e609";
}
.icon-print:before {
    content: "\e60a";
}
.icon-document:before {
    content: "\e60b";
}
.icon-sound:before {
    content: "\e60c";
}
.icon-mark:before {
    content: "\e60d";
}
.icon-edit:before {
    content: "\e60e";
}
.icon-stop:before {
    content: "\e60f";
}
.icon-add:before {
    content: "\e610";
}
.icon-ok-question:before {
    content: "\e611";
}
.icon-picture:before {
    content: "\e612";
}
.icon-house:before {
    content: "\e613";
}
.icon-plus:before {
    content: "\e614";
}
.icon-clip:before {
    content: "\e615";
}
.icon-filter:before {
    content: "\e616";
}
.icon-thumb-up:before {
    content: "\e617";
}
.icon-logout-left:before {
    content: "\e618";
}
.icon-forward:before {
    content: "\e619";
}
.icon-thumb-down:before {
    content: "\e61a";
}
.icon-adobe-document:before {
    content: "\e61b";
}
.icon-list:before {
    content: "\e61c";
}
.icon-question:before {
    content: "\e61d";
}
.icon-light:before {
    content: "\e61e";
}
.icon-compass:before {
    content: "\e61f";
}
.icon-bar-chart:before {
    content: "\e620";
}
.icon-chart:before {
    content: "\e621";
}
.icon-settings:before {
    content: "\e622";
}
.icon-refresh:before {
    content: "\e623";
}
.icon-messages:before {
    content: "\e624";
}
.icon-tool:before {
    content: "\e625";
}
.icon-delete:before {
    content: "\e626";
}
.iconicons-142:before {
    content: "\e627";
}
.icon-case:before {
    content: "\e628";
}
.icon-teacher:before {
    content: "\e629";
}
.icon-plus-round:before {
    content: "\e62a";
}
.icon-delete-round:before {
    content: "\e62b";
}
.icon-config-persons:before {
    content: "\e62c";
}
.icon-search:before {
    content: "\e62d";
}
.icon-sort-arrows:before {
    content: "\e62e";
}
.icon-sort-desc:before {
    content: "\e62f";
}
.icon-sort-asc:before {
    content: "\e630";
}