<section class="messages"><div class="row"><div class="small-12 columns"></div></div></section>

<section class="container">
    <div class="row">
        <div class="medium-12 columns" id="main-content"></div>
    </div>
</section>